@charset "UTF-8";
@font-face {
    font-family:ostrich-regular;
    src: url()
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-image:url(../assets/background.png);
    background-repeat:no-repeat;
    background-size: cover;
}
.cabecalho{
    text-transform: uppercase;
    font-size: xx-large;
}
.navback{
    background-color: rgb(241, 241, 241);
}
.navbar{
    list-style-type: none;
    margin-bottom: 10px;
    margin-top:0px;
    padding: 0;
    padding-top:0px;
    text-transform: uppercase;
    font-size: x-large;
}
.navbtn{
    background-color: rgb(241, 241, 241);
    padding:16px;
    margin-bottom: 10px;
    margin-top:0px;
    display:inline;
    float: left;
}
.navbtn:link{
    color:inherit;
}
.navbtn:visited{
    color:inherit;
}
.navbtn:hover{
    color:rgb(187, 187, 187);
    border:solid;
}
.navbtn:active{
    color:rgb(187, 187, 187);
    border:solid;
}
.menu{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
.password{
    text-decoration: dotted;
}